                    <div id="content">
                        <div class="row">
                            <form name="musterrolleForm" ng-cloak novalidate>
                                <div class="row">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><h4 class="title">Musterrolle {{title}}</h4></td>
                                                <td><a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="reset()"><i class="material-icons">close</i></a></td>                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                
                                <div class="card blue-grey lighten-5 col s12">
                                    <div class="card-content">
                                        <span class="card-title">Hauptdaten:</span>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="text" id="musterrollenbezeichnung" name="musterrollebezeichnung" ng-model="formData.bezeichnung" required>
                                                <label class="active" for="musterrollenbezeichnung">Bezeichnung</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <select class="validate" name="aufgabe" id="aufgabe" ng-model="formData.aufgabe" ng-options="aufgabe as aufgabe.bezeichnung for aufgabe in dataservice.aufgabenliste() track by aufgabe._id" required="">
                                                    <option value="" disabled="" selected="">Bitte Aufgabe wählen</option>
                                                </select>
                                                <div class="help-block" ng-messages="musterrolleForm.aufgabe.$error" ng-if="musterrolleForm.aufgabe.$touched">
                                                    <p ng-message="required">Aufgabe ist ein Pflichtfeld!</p>
                                                </div>                
                                                <label for="aufgabe">Aufgabe</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <select class="validate"  
                                                        id="beschaeftigung" 
                                                        name="beschaeftigung" 
                                                        ng-model="formData.beschaeftigung" 
                                                        ng-options="beschaeftigung as beschaeftigung.bezeichnung for beschaeftigung in dataservice.beschaeftigungliste() track by beschaeftigung._id" required="">
                                                    <option value="" disabled="" selected="">Bitte Beschäftigungsverhältnis wählen</option>
                                                </select>
                                                <div class="help-block" ng-messages="musterrolleForm.beschaeftigung.$error" ng-if="musterrolleForm.beschaeftigung.$touched">
                                                    <p ng-message="required">Beschäftiungsverhältnis ist ein Pflichtfeld!</p>
                                                </div>
                                                <label for="beschaeftigung">Beschäftigungsverhältnis</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <!-- Tresorzugriff --> 
                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Tresorzugriff</span>
                                    <div class="card-content">
                                        <div class="input-group row" ng-repeat="zuo in formData.tresor_zuo">
                                            <select class="col s5"
                                                    ng-disabled="zuo.tresor !== undefined"
                                                    ng-model="zuo._tresor"
                                                    ng-init="zuo._tresor = { _id : zuo.tresor._id }"
                                                    ng-change="zuo.tresor = zuo._tresor"
                                                    ng-options="tresor._id as tresor.bezeichnung for tresor in dataservice.tresorliste() | filterList:formData.tresor_zuo:'tresor':zuo._tresor track by tresor._id">
                                                <option value="" disabled="" selected="">Bitte Tresor wählen</option>
                                            </select>
                                            <script> $(document).ready(function() { $('select').material_select(); });</script>
                                            <select class="col s5" 
                                                    ng-disabled="zuo.zutrittsmittel !== undefined"
                                                    ng-model="zuo.zutrittsmittel" 
                                                    ng-options="zutrittsmittel._id as zutrittsmittel.bezeichnung for zutrittsmittel in dataservice.zutrittsmittellisteFilter('access_tresor') track by zutrittsmittel._id">
                                                <option value="" disabled="" selected="">Bitte Zutrittsmittel wählen</option>
                                            </select>  
                                            
                                            <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.tresor_zuo, zuo)"><i class="material-icons">remove</i></a>
                                            
                                        </div>
                                        <div class="row">
                                            <a ng-if="formData.tresor_zuo.length < dataservice.tresorliste().length" class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.tresor_zuo, {})"><i class="material-icons">add</i></a>
                                        </div>
                                    </div>                                    
                                </div>                                   
                                <!-- Räumlichkeiten --> 
                               <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Zutritt Räumlichkeiten</span>
                                    <div class="card-content">
                                        <div class="input-group row" ng-repeat="zuo in formData.raum_zuo">
                                            <select class="col s5" 
                                                    ng-disabled="zuo.raum !== undefined"
                                                    ng-init="zuo._raum = { _id: formData.raumID}" 
                                                    ng-change="formData.raumID = raum._id" 
                                                    ng-model="zuo.raum" ng-options="raum._id as raum.bezeichnung for raum in dataservice.raumliste() | filterList:formData.raum_zuo:'raum':zuo.raum track by raum._id">
                                                <option value="" disabled="" selected="">Bitte Räumlichkeit wählen</option>
                                            </select>
                                            <select class="col s5" 
                                                    ng-disabled="zuo.zutrittsmittel !== undefined"
                                                    ng-model="zuo.zutrittsmittel" 
                                                    ng-options="zutrittsmittel._id as zutrittsmittel.bezeichnung for zutrittsmittel in dataservice.zutrittsmittellisteFilter('access_raum') track by zutrittsmittel._id">
                                                <option value="" disabled="" selected="">Bitte Zutrittsmittel wählen</option>
                                            </select>    
                                            <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.raum_zuo, zuo)"><i class="material-icons">remove</i></a>
                                            <script> $(document).ready(function() { $('select').material_select(); });</script>
                                        </div>                                       
                                        <div class="row">
                                            <a ng-if="formData.raum_zuo.length < dataservice.raumliste().length" class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.raum_zuo, {})"><i class="material-icons">add</i></a>
                                        </div>
                                    </div>                                    
                                </div>
                                <!-- Fuhrpark --> 
                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Fuhrpark</span>
                                    <div class="card-content">
                                        <div class="input-group row" ng-repeat="fahrzeug in formData.fahrzeugliste">
                                            <select class="col s5" 
                                                id="{{ 'fzg' + $index }}"
                                                ng-init="fahrzeug._fzg = { _id: fahrzeug._id}" 
                                                ng-change="fahrzeug._id = fahrzeug._fzg" 
                                                ng-model="fahrzeug._fzg" 
                                                ng-options="fzg._id as fzg.kennzeichen for fzg in dataservice.fahrzeugliste() | filterList:formData.fahrzeugliste:null:fahrzeug track by fzg._id "
                                                ng-if="formData">
                                                <option value="" disabled="" selected="">Bitte Fahrzeug wählen</option>
                                            </select>
                                            <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.fahrzeugliste, fahrzeug)"><i class="material-icons">remove</i></a>
                                            <script> $(document).ready(function() { $('select').material_select(); });</script>
                                        </div> 
                                        <div class="row">
                                            <a ng-if="formData.fahrzeugliste.length < dataservice.fahrzeugliste().length" class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.fahrzeugliste, {})"><i class="material-icons">add</i></a>
                                        </div>
                                    </div>                                    
                                </div>
                                <!-- Ressourcen --> 
                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Berechtigungen auf Ressourcen</span>
                                    <div class="card-content">
                                        <div class="input-group row" ng-repeat="zuo in formData.ressource_zuo">
                                            <select class="col s5" 
                                                    ng-init="zuo._ressource = { _id: formData.ressourceID}" 
                                                    ng-change="formData.ressourceID = ressource._id" 
                                                    ng-model="zuo.ressource" 
                                                    ng-options="ressource._id as ressource.bezeichnung for ressource in dataservice.ressourcenliste() | filterList:formData.ressource_zuo:'ressource':zuo.ressource track by ressource._id">
                                                <option value="" disabled="" selected="">Bitte Ressource wählen</option>
                                            </select>
                                            <select class="col s5" 
                                                    ng-init="zuo._rechte = { _id: formData.res_rechteID}" 
                                                    ng-change="formData.res_rechteID = zuo.rechte._id" 
                                                    ng-model="zuo.rechte" 
                                                    ng-options="rechte._id as rechte.bezeichnung for rechte in dataservice.rechteliste() track by rechte._id">
                                                <option value="" disabled="" selected="">Bitte Berechtigung wählen</option>
                                            </select>    
                                            <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.ressource_zuo, zuo)"><i class="material-icons">remove</i></a>
                                            <script> $(document).ready(function() { $('select').material_select(); });</script>
                                        </div> 
                                        <div class="row">
                                            <a ng-if="formData.ressource_zuo.length < dataservice.ressourcenliste().length" class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.ressource_zuo, {})"><i class="material-icons">add</i></a>
                                        </div>
                                    </div>                                   
                                </div>
                                <!-- Sonstige Berechtigungen --> 
                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Sonstige Berechtigungen</span>
                                    <div class="card-content">
                                        <div class="input-group col s5">
                                            <input type="checkbox" class="filled-in" id="byod" name="byod" ng-model="formData.byod">
                                            <label for="byod">BYOD</label>
                                        </div>
                                        <div class="input-group col s5">
                                            <input type="checkbox" class="filled-in" name="fernzugriff" id="fernzugriff" ng-model="formData.fernzugriff">
                                            <label for="fernzugriff">Fernzugriff</label>
                                        </div>
                                    </div>
                                </div>      
                                <div class="col s12">
                                    <div class="input-group">
                                        <a class="waves-effect waves-light btn" ng-if="!musterrolleForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn disabled" ng-if="musterrolleForm.$invalid"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn" ng-click="reset()"><i class="material-icons left">cancel</i>schliessen</a>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function() {
                                        $('select').material_select();
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
