                    <div id="content">
                        <form name="raumForm" novalidate>
                            <div class="row">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><h4 class="title">{{title}}</h4></td>
                                            <td><a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="reset()"><i class="material-icons">close</i></a></td>                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card blue-grey lighten-5 col s12">
                                <span class="card-title">Basis Daten</span>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="input-group col s12">
                                            <label for="bezeichnung">Bezeichnung:</label>
                                            <input type="text" id="bezeichnung" placeholder="Bezeichnung der Ressource" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                            <div class="help-block" ng-messages="raumForm.bezeichnung.$error" ng-if="raumForm.bezeichnung.$touched">
                                                <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group col s12">
                                           <input type="checkbox" id="beschraenkt" class="filled-in" name="beschraenkt" ng-model="formData.beschraenkt">
                                           <label for="beschraenkt">Generell beschränkter Zugang:</label>                                        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group col s6">
                                            <label for="zutrittvon">Zugang von:</label>
                                            <input type="time"  placeholder="hh:mm" min="00:00" max="23:59" id="zutrittvon" name="zutrittvon" ng-model="formData.zutrittvon" ng-required="formData.beschraenkt">
                                        </div>               
                                    </div>
                                    <div class="row">
                                        <div class="input-group col s6">
                                            <label for="zutrittbis">Zugang bis</label>
                                            <input type="time" placeholder="hh:mm" min="00:00" max="23:59" id="zutrittbis" name="zutrittbis" ng-model="formData.zutrittbis" ng-required="formData.beschraenkt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card blue-grey lighten-5 col s12">
                                <span class="card-title">Zutrittsmittel</span>
                                <div class="card-content">
                                    <div class="row" ng-repeat="zutrittsmittel in formData.zutrittsmittel">                             
                                        <select class="col s8" material-select watch 
                                            id="{{ 'zutrittsmittel' + $index }}"
                                            ng-init="zutrittsmittel._data = { _id: zutrittsmittel._id}" 
                                            ng-change="zutrittsmittel._id = zutrittsmittel._data._id" 
                                            ng-model="zutrittsmittel._data" 
                                            ng-options="zm as zm.bezeichnung for zm in dataservice.zutrittsmittellisteFilter('access_raum') | filterList:formData.zutrittsmittel:null:zutrittsmittel track by zm._id"
                                            ng-if="formData">
                                            <option value ="" disabled>Wähle ein Zutrittsmittel</option>
                                        </select>
                                        <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.zutrittsmittel, zutrittsmittel)"><i class="material-icons">remove</i></a>
                                        <script> $(document).ready(function() { $('select').material_select(); });</script>
                                    </div>
                                    <div class="row">
                                        <a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.zutrittsmittel, {})"><i class="material-icons">add</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card blue-grey lighten-5 col s12">
                                <span class="card-title">Datenarten</span>
                                <div class="card-content">
                                    <div class="row" ng-repeat="data in formData.daten">                             
                                        <select class="col s8" material-select watch 
                                            id="{{ 'datentyp' + $index }}"
                                            ng-init="data._data = { _id: data._id}" 
                                            ng-change="data._id = data._data._id" 
                                            ng-model="data._data" 
                                            ng-options="datum as datum.bezeichnung for datum in dataservice.daten() | filterList:formData.daten:null:data track by datum._id "
                                            ng-if="formData">
                                            <option value ="" disabled>Wähle einen Datenart</option>
                                        </select>
                                        <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.daten, data)"><i class="material-icons">remove</i></a>
                                        <script> $(document).ready(function() { $('select').material_select(); });</script>
                                    </div>
                                    <div class="row">
                                        <a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.daten, {})"><i class="material-icons">add</i></a>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="input-group col s12">
                                    <a class="waves-effect waves-light btn" ng-if="!raumForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                    <a class="waves-effect waves-light btn disabled" ng-if="raumForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                    <a class="waves-effect waves-light btn" ng-click="reset()"><i class="material-icons left">cancel</i>schliessen</a>
                                </div>
                            </div>
                        </form>
                    </div>

