                    <div id="content">
                        <div class="row">
                            <form name="ressourceForm" novalidate>
                                <div class="row">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><h4 class="title">{{title}}</h4></td>
                                                    <td><a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="reset()"><i class="material-icons">close</i></a></td>                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Hauptdaten</span>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">label</i>
                                                <input type="text" id="bezeichnung" placeholder="Bezeichnung der Ressource" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                                <label class="active" for="bezeichnung">Bezeichnung:</label>
                                                <div class="help-block" ng-messages="ressourceForm.bezeichnung.$error" ng-if="ressourceForm.bezeichnung.$touched">
                                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">description</i>
                                                <input type="text" id="beschreibung" placeholder="Beschreibung der Ressource" name="beschreibung" ng-model="formData.beschreibung">
                                                <label class="active" for="beschreibung">Beschreibung:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">description</i>
                                                <input type="text" placeholder="Verwendungszweck" id="verwendungszweck" name="verwendungszweck" ng-model="formData.verwendungszweck">
                                                <label for="verwendungszweck">Verwendungszweck:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">view_list</i>
                                                <input type="text" id="inventarNr" placeholder="Inventarnummer" name="inventarNr" ng-model="formData.inventarNr">
                                                <label for="inventarNr">Inventar Nummer:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">terrain</i>
                                                <input type="text" id="land" placeholder="Land in dem sich die Ressource befindet" name="land" ng-model="formData.land">
                                                <label class="active" for="land">Land:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">phonelink_setup</i>
                                                <input type="checkbox" class="filled-in" id="mobiledevmgmt" name="mobiledevmgmt" ng-model="formData.mobiledevmgmt">                       
                                                <label for="mobiledevmgmt" class="active">Mobile Device Management:</label>
                                            </div>     
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <i class="material-icons prefix">folder</i>
                                                <select id="typ" name="typ" ng-model="formData.typ" ng-options="typ as typ.bezeichnung for typ in dataservice.ressourcentypliste() track by typ._id" required material-select="" watch="">
                                                        <option value="" disabled="" selected="">Bitte Typ der Ressource wählen</option>
                                                </select>
                                                <div class="help-block" ng-messages="ressourceForm.standort.$error" ng-if="ressourceForm.typ.$touched">
                                                    <p ng-message="required">Typ ist ein Pflichtfeld!</p>
                                                </div>
                                                <label for="typ">Typ</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Datenarten</span>
                                    <div class="card-content">
                                        <div class="row" ng-repeat="data in formData.daten">                             
                                            <select class="col s8" material-select watch 
                                                id="{{ 'datentyp' + $index }}"
                                                ng-init="data._data = { _id: data._id}" 
                                                ng-change="data._id = data._data._id" 
                                                ng-model="data._data" 
                                                ng-options="datum as datum.bezeichnung for datum in dataservice.daten() | filterList:formData.daten:null:data track by datum._id "
                                                ng-if="formData">
                                                <option value ="" disabled>Wähle eine Datenart</option>
                                            </select>
                                            <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.daten, data)"><i class="material-icons">remove</i></a>
                                            <script> $(document).ready(function() { $('select').material_select(); });</script>
                                        </div>
                                        <div class="row">
                                            <a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.daten, {})"><i class="material-icons">add</i></a>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="card blue-grey lighten-5 col s12">
                                    <span class="card-title">Status</span>    
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">today</i>
                                            <input type="date" class="datepicker validate" id="deaktiviertAm" name="deaktiviertAm" ng-model="formData.deaktiviertAm">
                                            <label class="active" for="deaktiviertAm">Deaktiviert Am:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">priority_high</i>
                                            <input type="checkbox" class="filled-in" name="aktiv" id="aktiv" ng-model="formData.aktiv">
                                            <label for="aktiv" >Aktiv</label>
                                        </div>
                                    </div>     
                                </div>

                                <div class="row">
                                    <div class="input-group col s12">
                                        <a class="waves-effect waves-light btn" ng-if="!ressourceForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn disabled" ng-if="ressourceForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn" ng-click="reset()"><i class="material-icons left">cancel</i>schliessen</a>
                                    </div>
                                </div>   
                                <script>
                                    $(document).ready(function() {
                                        $('select').material_select();
                                    });
                                </script>
                            </form>
                        </div>
                    </div>

