                    <div id="content">
                        <form name="tresorForm" novalidate>
                            <div class="row">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><h4 class="title">Tresor {{title}}</h4></td>
                                            <td><a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="reset()"><i class="material-icons">close</i></a></td>                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card blue-grey lighten-5 col s12">
                                <span class="card-title">Basisdaten</span>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="input-group">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">label</i>
                                                <input type="text" id="bezeichnung" name="bezeichnung" ng-model="formData.bezeichnung" required class="validate">
                                                <label class="active" for="bezeichnung">Bezeichnung</label>
                                                <div class="help-block" ng-messages="tresorForm.bezeichnung.$error" ng-if="tresorForm.bezeichnung.$touched">
                                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">description</i>
                                                <input type="text" id="beschreibung" name="beschreibung" ng-model="formData.beschreibung">
                                                <label class="active" for="beschreibung">Beschreibung</label>     
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group col s4">
                                            <input type="checkbox" class="filled-in" id="aktiv" name="aktiv" ng-model="formData.aktiv">
                                            <label for="aktiv">Aktiv:</label>
                                        </div> 
                                    </div>
                                </div>
                            </div>     
                            <div class="card blue-grey lighten-5 col s12">
                                <span class="card-title">Zutrittsmittel</span>
                                <div class="card-content">
                                    <div class="row" ng-repeat="zutrittsmittel in formData.zutrittsmittel">                             
                                        <select class="col s8" material-select watch 
                                            id="{{ 'zutrittsmittel' + $index }}"
                                            ng-init="zutrittsmittel._data = { _id: zutrittsmittel._id}" 
                                            ng-change="zutrittsmittel._id = zutrittsmittel._data._id" 
                                            ng-model="zutrittsmittel._data" 
                                            ng-options="zm as zm.bezeichnung for zm in dataservice.zutrittsmittellisteFilter('access_tresor') | filterList:formData.zutrittsmittel:null:zutrittsmittel track by zm._id"
                                            ng-if="formData">
                                            <option value ="" disabled>Wähle ein Zutrittsmittel</option>
                                        </select>
                                        <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.zutrittsmittel, zutrittsmittel)"><i class="material-icons">remove</i></a>
                                        <script> $(document).ready(function() { $('select').material_select(); });</script>
                                    </div>
                                    <div class="row">
                                        <a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.zutrittsmittel, {})"><i class="material-icons">add</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card blue-grey lighten-5 col s12">
                                <span class="card-title">Datenarten</span>
                                <div class="card-content">
                                    <div class="row" ng-repeat="data in formData.daten">                             
                                        <select class="col s8" material-select watch 
                                            id="{{ 'datentyp' + $index }}"
                                            ng-init="data._data = { _id: data._id}" 
                                            ng-change="data._id = data._data._id" 
                                            ng-model="data._data" 
                                            ng-options="datum as datum.bezeichnung for datum in dataservice.daten() | filterList:formData.daten:null:data track by datum._id"
                                            ng-if="formData">
                                            <option value ="" disabled selected>Wähle einen Datenart</option>
                                        </select>
                                        <a class="btn-floating btn-small waves-effect waves-light red netvocat" ng-click="remove_entry(formData.daten, data)"><i class="material-icons">remove</i></a>
                                        <script> $(document).ready(function() { $('select').material_select(); });</script>
                                    </div>
                                    <div class="row">
                                        <a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="add_entry(formData.daten, {})"><i class="material-icons">add</i></a>
                                    </div>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="input-group col s12">
                                    <a class="waves-effect waves-light btn" ng-if="!tresorForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                    <a class="waves-effect waves-light btn disabled" ng-if="tresorForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                    <a class="waves-effect waves-light btn" ng-click="reset()"><i class="material-icons left">cancel</i>schliessen</a>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function() {
                                    $('select').material_select();
                                });
                            </script>
                        </form>
                    </div>

